@model User

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<h2>Login</h2>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    
</head>

<body class="container">
    <p class="alert alert-primary">This is the Login</p>
    <form asp-action="Login" method="post">

        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Email">Enter Email:</label>
            <input class="form-control" asp-for="Email" />
        </div>


        <div class="form-group">
            <label asp-for="Password">Enter Password:</label>
            <input class="form-control" asp-for="Password" />
        </div>

   

        <div class="text-center">
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
