@model Order

@{
    ViewData["Title"] = "OrderForm";
    Layout = null;
}

<h2>Order Form</h2>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />   
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body class="container">
    <p class="alert alert-primary">This is the Order Form</p>
    <form asp-action="SaveOrder" method="get">

        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Quantity">Enter the Quantity Order or Number of Orders:</label>
            <input class="form-control" asp-for="Quantity" />
        </div>


        <div class="form-group">
            <label asp-for="Price">Enter Price Amount:</label>
            <input class="form-control" asp-for="Price" />
        </div>


        
          <input type="hidden" asp-for="Id" />
         <input type="submit" />  
        <!--
        <div class="text-center">
            <button type="submit">Order</button>
        </div>-->
        
    </form>
</body>
</html>
